gui/.vscode
gui/.vscode/
gui/__pycache__
gui/__pycache__/
gui/venv-up-all
gui/venv-up-all/
src/.vscode
src/.vscode/
src/Listings
src/Listings/
src/Objects
src/Objects/
src/RTE
src/RTE/
src/SSMProject.uvguix.Bianca
src/SSMProject.uvguix.toade
src/SSMProject.uvoptx
src/SSMProject.uvprojx